@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --bg-primary-background: #000000;
    --bg-secondary: #00B4C1;
    --bg-terciary: #FFFFFF;
    --font-primary: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bg-primary-background) !important;
}

li a {
    color: var(--bg-terciary) !important;
    font-size: 18px !important;
    font-family: Segoe UI, Helvetica, Arial, sans-serif !important;
    font-weight: 300 !important;
}

.nav-2 {
    margin-right: 20px;
}

.image-layout {
    border-radius: 50% !important;
    box-shadow: 0 0 20px rgba(0, 238, 255, 0.5);
}

.text-1 {
    color: var(--bg-terciary) !important;
    font-weight: 100 !important;
    font-family: var(--font-primary)
}

.text-enfase {
    color: var(--bg-secondary) !important;
    font-weight: 500 !important;
}

.text-2 {
    color: var(--bg-terciary) !important;
    font-weight: 700 !important;
}

.blink-text-enfase-pipe {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hr-custom {
    border-top: 2px solid var(--bg-secondary) !important;
    color: var(--bg-terciary) !important;
    margin-top: 50px !important;
    width: 50px;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
}

.sobre-mim-text1 {
    font-size: 40px;
    text-align: center;
}

.sobre-mim-text2 {
    font-size: 20px;
    text-align: center;
}

.sobre-mim-text-perfil {
    font-size: 20px;
    text-align: left;
}

.hr-custom-2 {
    height: 4px;
    width: 250px;
    border-top: 2px solid var(--bg-secondary) !important;
    background-color: var(--bg-secondary) !important;
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.enfase-span {
    font-weight: 700 !important;
}

.enfase-span-perfil {
    font-weight: 700 !important;
    color: var(--bg-secondary) !important;
}

.navbar-nav li.nav-item:hover a.nav-link {
    color: var(--bg-primary-background) !important;
}

.separator {
    height: 50px;
}

.icon-progress {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

.progress-bar {
    background-color: var(--bg-secondary) !important;
    color: var(--bg-primary-background);
    font-size: 15px;
    font-weight: 700 !important;
}

.progress {
    height: 40px;
    border-radius: 15px;
}

.skills-p {
    color: var(--bg-terciary);
    font-weight: 600;
    font-family: var(--font-primary);
}

.separator-skills {
    margin-bottom: 20px;
}

.nav-top-style {
    background-color: var(--bg-secondary) !important;
    border-radius: 0 0 100% 100% !important;
    height: 5%;
}

.img-education {
    width: 30% !important;
    margin-top: 45px !important;
}

.educacao-text-title {
    font-weight: 600;
    color: var(--bg-terciary);
    display: flex;
    align-items: flex-start;
}

.educacao-text {
    color: var(--bg-terciary) !important;
}

.hr-custom-footer {
    border-top: 2px solid var(--bg-terciary) !important;
    color: var(--bg-terciary) !important;
    margin-top: 50px !important;
    width: 100%;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-primary-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-secondary)
}

::-webkit-scrollbar-thumb:vertical {
    width: 8px;
}

::-webkit-scrollbar-thumb:vertical:active {
    background-color: var(--bg-secondary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-secondary);
}

@media (max-width: 1000px) {
    .nav-top-style {
        background-color: transparent !important;
        border-radius: 0 !important;
        height: auto !important;
    }
    li a {
        color: var(--bg-secondary) !important;

    }
    .navbar-nav li.nav-item:hover a.nav-link {
        color: var(--bg-terciary) !important;
    }
}

@media (max-width: 900px) {
    .nav-top-style {
        background-color: transparent !important;
        border-radius: 0 !important;
        height: auto !important;
    }
    li a {
        color: var(--bg-secondary) !important;

    }
    .navbar-nav li.nav-item:hover a.nav-link {
        color: var(--bg-terciary) !important;
    }
}

@media (max-width: 790px) {
    .nav-top-style {
        background-color: transparent !important;
        border-radius: 0 !important;
        height: auto !important;
    }
    li a {
        color: var(--bg-secondary) !important;

    }
    .navbar-nav li.nav-item:hover a.nav-link {
        color: var(--bg-terciary) !important;
    }
}

@media (max-width: 767px) {
    .nav-top-style {
        background-color: transparent !important;
        border-radius: 0 !important;
        height: auto !important;
    }
    li a {
        color: var(--bg-secondary) !important;

    }
    .navbar-nav li.nav-item:hover a.nav-link {
        color: var(--bg-terciary) !important;
    }
}

@media (max-width: 620px) {
    .nav-top-style {
        background-color: transparent !important;
        border-radius: 0 !important;
        height: auto !important;
    }
    li a {
        color: var(--bg-secondary) !important;

    }
    .navbar-nav li.nav-item:hover a.nav-link {
        color: var(--bg-terciary) !important;
    }

}

@media (max-width: 430px) {
    .nav-top-style {
        background-color: transparent !important;
        border-radius: 0 !important;
        height: auto !important;
    }
    li a {
        color: var(--bg-secondary) !important;

    }
    .navbar-nav li.nav-item:hover a.nav-link {
        color: var(--bg-terciary) !important;
    }
}

@media (max-width: 320px) {
    .nav-top-style {
        background-color: transparent !important;
        border-radius: 0 !important;
        height: auto !important;
    }
    li a {
        color: var(--bg-secondary) !important;

    }
    .navbar-nav li.nav-item:hover a.nav-link {
        color: var(--bg-terciary) !important;
    }
}

